/* Put your custom styles here and run `npm run build:production` from the "src" directory on in a linux shell */
h2 {
    -webkit-margin-before: 1.5em;
}

ul {
    margin: 0;
}

figure {
    margin: 0;
    text-align: center;
}

figcaption {
    text-align: center;
    font-size: 0.8em;
}

figcaption p {
    margin-top: 8px;
}

.lower-margin-top {
    margin-top: 5px;
}

.bg-center {
    background-position: center;
}

.grow-little:hover { 
    transform: scale(1.03);
    transition: transform 0.6s;
}


/* from theme update */
#TableOfContents ul li {
    margin-bottom: 1em;
  }
  