/* Put your custom styles here and run `npm run build:production` from the "src" directory on in a linux shell */
h2 {
    -webkit-margin-before: 1.5em;
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
    font-size: 0.8em;
}

figcaption p {
    margin-top: 8px;
}

.lower-margin-top {
    margin-top: 5px;
}

.bg-center {
    background-position: center;
}