/* Put your custom styles here and run `npm start` from the "src" directory on */
figure {
    margin: 0;
}

figcaption {
    text-align: center;
    font-size: 0.8em;
}

figcaption p {
    margin-top: 8px;
}