<form name="contact" method="POST" action="/formsent" netlify>
    <p>
        <div class="group">
            <input type="text" id="e-mail" required="required"/>
            <label for="e-mail">Deine E-Mail Adresse</label>
            <div class="bar"></div>
        </div>
    </p>
    <p>
        <div class="tmp">Dein Anliegen</div>
    </p>
    <p>
        <textarea name="message" required></textarea>
    </p>
    <div data-netlify-recaptcha></div>
    <p>
        <button type="submit" class="btn"><span>Abschicken</span></button>
    </p>
</form>